<footer class="app-footer">
  <app-container>
    <div class="footer__esquerdo">
      <img src="assets/imagens/logo-com-tagline.png" alt="Logo com tagline">
      <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
      <p>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</p>
    </div>
    <div class="footer__direito">
      <p>Acesse nossas redes:</p>
      <div class="social__links">
        <a href="#"><img src="assets/icones/whatsapp.png" alt="Logo whatsapp"></a>
        <a href="#"><img src="assets/icones/instagram.png" alt="Logo instagram"></a>
        <a href="#"><img src="assets/icones/twitter.png" alt="Logo twitter"></a>
      </div>
    </div>
  </app-container>
</footer>